body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family, sans-serif);
  background-color: var(--p-surface-900);
  color: var(--p-surface-0);
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

:root {
  --p-text-color: white;
  --p-card-title-color: white;
  --p-card-content-color: white;
  --p-card-subtitle-color: white;
}
